.containerMessage{
 
   padding-top: 20px;
    height: 660px;
    border: 1px solid rgb(36, 34, 34);

}

.messagehead{
    background-color: rgb(163, 160, 156);
    border-radius: 12px;
    /* max-width: 30%; */
    margin-left: 20px;
    font-size: 12px;
    padding: 6px;
  

}